
REACT_APP_AUTH_SERVICE_URL=http://0.0.0.0:3001/api/auth/admin
REACT_APP_USER_SERVICE_URL=http://0.0.0.0:3002/api/users/admin
REACT_APP_CONTENT_SERVICE_URL=http://0.0.0.0:3003/api/content/admin
REACT_APP_STREAMING_SERVICE_URL=http://0.0.0.0:3004/api/streaming/admin
REACT_APP_RECOMMENDATION_SERVICE_URL=http://0.0.0.0:3005/api/recommendations/admin
REACT_APP_ADMIN_SERVICE_URL=http://0.0.0.0:3006/api/admin
REACT_APP_COMMON_SERVICE_URL=http://0.0.0.0:3007/api/common/admin
GENERATE_SOURCEMAP=false
